/* Tabelas para geração de relatórios */
table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}
td {
    border: 2px solid #ddd;
    padding: 5px;
}
.label-cell {
    width: 140px;
    font-weight: bold;
    text-align: right;
}
.data-cell {
    width: calc(100% - 140px);
    text-align: left;
}
.empty-row td {
    border: none;
}

/* Estilos para impressão */
@media print {
    body * {
        display: none !important;
    }
    #leitoresTable, #leitoresTable * {
        display: block !important;
        visibility: visible !important;
    }
    #leitoresTable {
        width: 100% !important;
        margin: 0 auto !important;
    }
    .button-container, .close {
        display: none !important;
    }
    @page {
        size: portrait;
        margin: 10mm;
        counter-increment: page;
        @top-center {
            content: "Listagem de Usuários";
        }
    }
}